.App {
  text-align: center;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.Operand {
  width: 150px

}

.Result {
  width: 50px

}

className="Operand"

.App-header {
  background-color: #272c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
